.shrink{
-webkit-transform:scale(0.75);
-moz-transform:scale(0.75);
-ms-transform:scale(0.75);
transform:scale(0.75);
}

#paper-html-elements {
    position: relative;
    border: 1px solid gray;
    display: inline-block;
    background: transparent;
    overflow: hidden;
}
#paper-html-elements svg {
    background: transparent;
}
#paper-html-elements svg .link {
    z-index: 2;
}
.html-element {
    position: absolute;
    background: #3498DB;
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
    border-radius: 4px;
    border: 2px solid #2980B9;
    box-shadow: inset 0 0 5px black, 2px 2px 1px gray;
    padding: 40px;
	box-sizing: border-box
    z-index: 2;

}
.html-element select,
.html-element input,
.html-element button {
    /* element interacting with inputs only. */
    pointer-events: auto;
}
.html-element button.delete {
    color: white;
    border: none;
    background-color: #C0392B;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
}
.html-element button.delete:hover {
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.html-element select {
    position: absolute;
    right: 2px;
    bottom: 28px;
}
.html-element label.roundkey-text{
	position: absolute;
    top: 50px;
    left: -2px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
	text-shadow:1px 0px;
	font-size:19px;
}
.html-element input.roundkey{
	position: absolute;
    top: 20px;
    left: 20px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a11 {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a12 {
    position: absolute;
    top: 5px;
    left: 50px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a13 {
    position: absolute;
    top: 5px;
    left: 95px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a14 {
    position: absolute;
    top: 5px;
    left: 140px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a21 {
    position: absolute;
    top: 25px;
    left: 5px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a22 {
    position: absolute;
    top: 25px;
    left: 50px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a23 {
    position: absolute;
    top: 25px;
    left: 95px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a24 {
    position: absolute;
    top: 25px;
    left: 140px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a31 {
    position: absolute;
    top: 45px;
    left: 5px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a32 {
    position: absolute;
    top: 45px;
    left: 50px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a33 {
    position: absolute;
    top: 45px;
    left: 95px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a34 {
    position: absolute;
    top: 45px;
    left: 140px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a41 {
    position: absolute;
    top: 65px;
    left: 5px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a42 {
    position: absolute;
    top: 65px;
    left: 50px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a43 {
    position: absolute;
    top: 65px;
    left: 95px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element input.a44 {
    position: absolute;
    top: 65px;
    left: 140px;
    right: 0;
    border: none;
    color: #333;
    padding: 5px;
    height: 16px;
	width: 40px;
}
.html-element label {
    color: #333;
    text-shadow: 1px 0 0 lightgray;
    font-weight: bold;
}
.html-element span {
    position: absolute;
    top: 2px;
    right: 9px;
    color: white;
    font-size: 10px;
}

.connection {
    stroke: #999;
}

.connection-wrap {
    stroke-linecap: butt;
    transition: all 0.5s linear 0.2s;
}

.connection-wrap:hover {
    stroke: black;
    stroke-width: 9px;
    transition: all 0s;
}

.link-tools .tool-remove circle {
    fill: white;
    stroke: #ccc;
    stroke-width: 1px;
    stroke-opacity: .5;
}

.link-tools .tool-remove:hover circle {
    fill: #e74c3c;
    stroke: #c0392b;
}

.link-tools .tool-remove path {
    stroke: #ccc;
}

.link-tools .tool-remove circle {
    transition: fill 1s;
}

.link-tools .tool-remove:hover path {
    stroke: none;
}

.marker-arrowhead, .marker-vertex {
    fill: #fff;
    stroke: #7f8c8d;
    stroke-opacity: 0.4;
    stroke-width: 2px;
}

.marker-arrowhead:hover,  .marker-vertex:hover {
    fill: #ecf0f1;
    stroke: #bdc3c7;
}

.marker-vertex-remove-area {
    fill: white;
    stroke: #ccc;
    stroke-opacity: .5;
}

.marker-vertex-remove-group:hover .marker-vertex-remove-area {
    transition: fill 1s;
    fill: #e74c3c;
    stroke: #c0392b;
}

.marker-vertex-remove {
    stroke: #eee;
}

.marker-vertex-remove-group:hover .marker-vertex-remove {
    stroke: none;
}

.joint-element .highlighted {
    outline: none;
    fill: #ecf0f1;
    stroke: #bdc3c7;
    cursor: crosshair;
}

.joint-element .body {
    fill: #68DDD5;
    stroke: #44CCC3;
    stroke-opacity: 0.5;
    transition: all 0.2s;
}

.joint-element circle {
    fill: #fff;
    stroke: #7f8c8d;
    stroke-opacity: 0.5;
    stroke-width: 2px;
}

.joint-element text {
    fill: #fff;
}

.joint-link.live > .connection {
    stroke: #7c68fc;
    stroke-width: 3px;
}

.live .connection-wrap {
    stroke: #7C68FD;
}

.joint-element.live .body {
    fill: #FEB662;
    stroke: #CF9452;
}

.joint-element.live text {
    fill: #ffffff;
}
.wire {
    stroke: #4B4F6A;
}

.circle1 {
    fill: #fff;
    stroke: #7f8c8d;
    stroke-opacity: 0.5;
    stroke-width: 2px;
}
.circle2 {
    fill: #fff;
    stroke: #7f8c8d;
    stroke-opacity: 0.5;
    stroke-width: 2px;
}